doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/main.css")
    link(rel="stylejs", href="/javascripts/main.js")
    title Signin
  body 
    div(class="split left") 
        .centered 
            h2 To-do List App 
            p An awesome app to save your todo works 

    div(class="split right") 
        .centered 
            h1.page__title Sign In
            br
            form.user__form(target="", action="/user/login", method="POST")
                .form__control 
                    input(type="text", placeholder="Enter email address", required=true, name="email")#email
                    br
                    input(type="password", placeholder="Enter Password", required=true, name="password")#password
                    br 
                    
                //button.btn(type="submit") Login
                input.btn(onclick="window.location.href = 'http://localhost:4000/user/me'; " type="submit" value="Login")
                br
                a(href="/user/signup", class="to__login") Don't have an account? Signup here