doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/auth.css")
    link(rel="stylesheet", href="/stylesheets/form.css")
    link(rel="stylejs", href="/javascripts/main.js")
    title register account
  body 
    div(class="split left") 
        .centered 
            h2.h4 Task Buddy 
            p An awesome app to save your todo works 

    div(class="split right") 
        .centered
            .form__control 
                form.new__task(action="/signup", method="POST") 
                    h1.h4 Register Account
                    p.p1 Signup now to improve your productivity.
                    p.p2 Task Buddy helps you manage your daily routines in one cohesive and tidy space. 
                    label(for="email" ) 
                      input(type="text", placeholder="Enter email address", required=true, name="email")#email
                      span Email 
                    label(for="password")
                      input(type="password", placeholder="Enter Password", required=true, name="password")#password
                      span password
                    label(for="confirmPassword") 
                      input(type="password", placeholder="Confirm Password" required=true, name="confirmPassword")#confirmPassword
                      span confirm password
                    //- label(class="container") I agree to the terms and conditions 
                    //-     input(type="checkbox")
                    //-     span(class="checkmark")
                    input(type="hidden", name="_csrf", value= csrfToken)
                    .cntr  
                      button.login__btn(type="submit") register
                      a.link(href="/login", class="to__login") Already have an account? Login here