@import url('https://fonts.googleapis.com/css?family=open+sans:400,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.inline{
    text-align: center;
    display: inline-block;
}
.add{
    display: inline-block;
    padding-right: 5px;
    padding-bottom: 10px;
}
.todo{
    display: inline-block;
    padding-left: 5px;
    padding-bottom: 10px;
}
body{
    min-height:100vh;
    display:grid;
    place-content:center;
    font-family:sans-serif;
    color:#6b6b6b;
}
form{
    width:30vw;
    max-width:768px;
    border:1px solid #ddd;
    padding:3vw;
    display:flex;
    flex-direction:column;
    border-radius:5px;
}

label{
    margin-bottom:15px;
    position:relative;
    border-bottom:1px solid #ddd;
}
input{
    width:100%;
    padding:10px 0px;
    margin-top:20px;
    border:none;
    outline:none;
}

select{
    width:100%;
    padding:10px 0px;
    margin-top:20px;
    border:none;
    outline:none;
}

textarea{
    width:100%;
    height: 80px;
    padding:10px 0px;
    margin-top:20px;
    border:none;
    outline:none;
}

input::placeholder,
textarea::placeholder, select::placeholder{
    opacity:0;
}
span{
    position:absolute;
    top:0;
    left:0;
    transform:translateY(30px);
    font-size:0.825em;
    transition-duration:300ms;
}
.btn__task{
    text-align: center;
    display: inline-block;
}

.cancel__btn{
    opacity: 20%;
    display: inline-block;
    padding:15px 0px; 
    margin-left:10px;
    margin-right:10px;
    margin-top:20px;
    background:rgba(128, 0, 128, 0.60);
    color:#fff;
    border:1px solid rgba(128, 0, 128, 0.60);
    cursor:pointer;
    border-radius:3px;
    width: 10vw;
}
.add__btn{
    width: 10vw;
    display: inline-block;
    padding:15px 0px; 
    margin-left:10px;
    margin-right:10px;
    margin-top:20px;
    background:rgba(128, 0, 128, 0.80);
    color:#fff;
    border:1px solid rgba(128, 0, 128, 0.80);;
    cursor:pointer;
    border-radius:3px;
    opacity: 80%;
}

.cancel__btn:hover{
    background-color: rgba(128, 0, 128, 0.80);
}
.add__btn:hover{
    background:rgba(128, 0, 128, 1);
}

label:focus-within > span,
input:not(:placeholder-shown) + span{
    color:purple;
    transform: translateY(0px);
}
label:focus-within > span,
textarea:not(:placeholder-shown) + span{
    color:purple;
    transform: translateY(0px);
}

label:focus-within > span,
select:not(:placeholder-shown) + span{
    color:purple;
    transform: translateY(0px);
}