@import url('https://fonts.googleapis.com/css?family=open+sans:400,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/*
    split the screen in half
*/
.split{
    height: 100%;
    width: 70%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control left side*/
.left{
    left: 0;
    width: 30%;
    background-color: #0BDEB8;
    opacity: 50%;
}

/*Control right side*/
.right{
    right: 0;
    font-family: 'Roboto', sans-serif;
}

.centered{
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-30%, -20%);
    text-align: left;
}

.form__control label,
.form__control input{
    text-align: left;
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 100;
}

.form__control input{
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    margin-top: 20px;
    width: 15rem;
    height: 30px;
}

.form__control input:focus{
    outline-color: #0BDEB8;
}

input[type=radio]{
    margin-top: 10;
    margin-right: 10;
    width: 1rem;
}

.h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
}
.par{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding-bottom: 20px;
}
.heading{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}


.btn{
    width: 30%;
    padding: 10px;
    background-color: #0BDEB8;
    text-align: center;
    box-shadow: none;
    border-style: none;
    border-radius: 4px;
    margin-top: 20px;
}