@import url('https://fonts.googleapis.com/css?family=open+sans:400,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/*
    split the screen in half
*/
.split{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control left side*/
.left{
    left: 0;
    width: 20%;
    background-color: rgb(0, 21, 29);
}


.l__items{
    display: inline-block;
    background-color: #efefef;
    border: 1px solid #aaa;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-left: 10px;
    width: 100%;
}

.centered{
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-20%, -30%);
    text-align: left;
    background-color: black;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 30%;
    left: 100%;
    transform: translate(-100%, -30%);
    text-align: left;
    width: 78%;
    right: 0;
    font-family: 'Roboto', sans-serif;
}

.div__align{
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translate(-10%, -30%);
    text-align: left;
}

.form__control label,
.form__control input{
    text-align: left;
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 100;
}

.form__control input{
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    margin-bottom:  20px;
    width: 15rem;
    height: 30px;
}

.form__control input:focus{
    outline-color: purple;
}

.h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
}
.par{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding-bottom: 20px;
    font-size: 14px;
}

.btn{
    width: 10rem;
    padding: 10px;
    background-color: rgba(128, 0, 128, 0.753);
    color: white;
    text-align: center;
    box-shadow: none;
    border-style: none;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.btn:hover{
    background-color: purple;
}
.to__login{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin-bottom: 10px;
    font-size: 12px; 
}

.container{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 5px;
}

.container:hover input ~ .checkmark{
    background-color: #ccc;
}
.container input:checked ~ .checkmark{
    background-color: purple;
}

.checkmark::after{
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark::after{
    display: block;
}

.container .checkmark::after{
    left: 7px;
    top: 4px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/**
***** Task Card CSSS below
*/


