@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

*{
  box-sizing: border-box;
}

body, html {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    width: 100%;
    height: 100%; 
    padding: 0;
}

 body {
  background-color: #f0f0f0;
  display: flex;
  position: absolute;
  width: 100%;
  display: -webkit-flex;
   -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center; 
  align-items: center;
  text-align: center;
} 

.top__items{
    width: 100%;
    flex: 0;
    display:flex;
    display: -webkit-flex;
    justify-content:left;
    -webkit-justify-content: left;
    flex-direction: row;
    position: relative;
}

.right__end{
    width: 100%;
    display:flex;
    display: -webkit-flex;
    justify-content:right;
    -webkit-justify-content:right;
    position: absolute;
    flex-direction: row;
}
.btn{
    margin: 20px;
    margin-top: 35px;
    height: 40px;
    width: 112px;
    text-align: center;
    vertical-align: middle;
}
.logout{
    color: rgb(0, 21, 29);
    background-color: #eee;
    font-size: 16px;
    font-family: 'Roboto', serif;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
}
.to__tc{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Roboto', serif;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
}
.img__date{
    font-size: 72px;
    font-family: 'Roboto', serif;
    font-weight: 700;
    top: 0px;
    text-align: center;
    padding-top: 0;
    margin-top: -10px;
    margin-left: 0; 
}

.board__title{
    font-size: 36px;
    color: #eee;

}

h2{
    font-size: 48px;
    font-family: 'Roboto', serif;
    font-weight: 700;
    top: 0px;
    padding-top: 0;
    margin-top: 20px;
    margin-left: 40px;
}

.chev1{
    margin-top: 40px;
} 
.chev2{
    margin-top: 40px;
    margin-left: 50px;
}






 .cards {
     flex: 1;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    min-width: 500px; 
    margin-bottom: 40px;
    position: absolute;
    top: 150px;
}  

.task__done {
    width: 18px;
}

.task__delete {
    display: none;
    width: 24px;

  vertical-align: middle;
    fill: #AD7D52;
}
.task__delete:hover{
    fill: red;
    transform: scale(1.10, 1.10);
}

.card__img {
    background-size: cover;
    background-position: center; 
    border-bottom: 1px solid #eee;
    background-color: white;
    width: 200px;
    height: 100px;
    min-width: 200px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  
} 

.side__board{
    display: block;
    text-align: center;
    height: 40px;
    border-bottom: 1px solid rgba(90, 0, 90);
     /* background-color: rgb(90, 1, 90);  */
    background-color: transparent;
    border-top: #fff;
    width: 90%;
    margin-top: 5px;
    margin-left: 5%;
    padding-top: 10px;
    list-style: none;
}

.side__board:hover{
    cursor: pointer;
    border-bottom: 5px solid rgba(90, 0, 90);
    /* background-color: rgba(90, 0, 90); */
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
}

.side__board:active{
    cursor: pointer;
    border-bottom: 5px solid rgba(90, 0, 90);
}

.board__nav{
    margin-top: 150px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', serif;
    font-weight: 500;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    border-bottom: 1px, solid, black;
}    

.btn__board{
    background-color:rgb(90, 0, 90);
    width: 50%;
    left:0;
    margin-right: 10px;
}

.btn__board:hover{
    background-color: rgb(63, 0, 63);
}

.left__title{
    width: 100%;
    background-color: transparent;
    color: #fff;
    font-size: 36px;
}

.card__info--hover {
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: rgb(0, 26, 37);
    position: absolute;
    padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}  

.card__img--hover {
  transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-color:white;
     width: 100%; 
  position: absolute;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;
  
}
 .card {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff; 
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
  width: 200px;
  height:fit-content;
  min-width: 200px;
} 

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.05, 1.05);
}

.card__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 2;
    height: 100px;
    width: 200px;
    background-color: rgb(0, 26, 37);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}

.card__description {
    display: none;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 300;
    color: #494949;
}

.card__title {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto', serif;
    font-weight: 500;
    color: #fff;
}

.task__due {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: red;
}

.card__board{
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    display: none;
}

.card:hover .card__img--hover {
    height: 50px;
    opacity: 0.3;
    opacity: 50%;
    display: none;
}
.card:hover .card__img{
    height: 50px;
}

.card:hover .card__info {
    height:fit-content;
    max-height: 250px;
    background-color: rgb(0, 26, 37);;
    position: relative;
}  

.card:hover .card__info-hover {
    opacity: 1;
}  

.card:hover .card__description{
    display: flex;
    color: #fff;
    text-align: left;
    text-overflow:clip;
    padding-bottom: 5px;
    top: 5px;
}

.card:hover .card__title {
    display: none;
    opacity: 0;
}
.card:hover .card__board {
    color: #fff;
    display: block;
    opacity: 1;
}
.card:hover .task__due {
    display: none;
    opacity: 0;
}


.card:hover .task__done {
    display: inline-block;
}

.card:hover .task__delete{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 0;
    margin-left: 10px;
    cursor: pointer;
    text-align: center;
}

.card:hover .task__delete:hover{
    fill: red;
    
}

.card:hover .calen{
    display: none;
}

.card:hover .img__date{
    display: none;
}


