doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/form.css")
    script(type='text/javascript' src='/javascripts/form.js')
    link(rel="form", href="/javascripts/form.js")
    

    title #{title}
  body 
    .form__control
        form.new__task(action="/task/create", method="POST")
            .inline 
                h2.add Add 
                h2.todo Task

            label(for="title")  
                input(type="text", placeholder="Task", required=true, name="title")#title
                span Title
            label(for="description" )
                TextArea(type="text", placeholder="Task Description", required=true, name="description")#description
                span Description
            label(for="board")
                input(type="text", placeholder="Task category", name="board")#board
                span Board
            label(for="due_date")
                input(type="date", placeholder="due date" required=true, name="due_date")#due_date
                //span Date
            .btn__task
                a(href="/task")
                    button.cancel__btn(type="button") Cancel
                    
                button.add__btn(type="submit") Add
            